/** INDEX **/
/*sticky navbar*/
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/*full page header image*/
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image:url(../images/noodle.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
/*parallax*/
.parallaxOne{
  height: 100vh;
  width: 100%;
  background-image:url(../images/parallaxNoodle.jpg);
  background-size:cover;
  display:table;
  background-attachment: fixed;
}
.parallaxTwo{
  height: 100vh;
  width: 100%;
  background-image:url(../images/parallaxNoodle2.jpg);
  background-size:cover;
  display:table;
  background-attachment: fixed;
}


h1{
  font-family:arial black;
  font-size: 50px;
  color:white;
  margin:0px;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}

body
{
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #000;
      margin:0;
      padding:0;
}
p
{
    font-size: 16px;
}
.margin
{
    margin-bottom: 45px;
}
.bg-1
{
      background-color: #1abc9c; /* Green */
      color: #ffffff;
}
.bg-2
{
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
}
.bg-3
{
      background-color: #ffffff; /* White */
      color: #555555;
}
.bg-4
{
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
}
.container-fluid
{
      padding-top: 70px;
      padding-bottom: 70px;
}
.navbar
{
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
}
  .navbar-nav  li a:hover
{
      color: #1abc9c !important;
}


/**NAV BAR**/
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li
{
    float: left;
}
li a, .dropbtn
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn
{
    background-color: red;
}
li.dropdown
{
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover
{
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content
{
    display: block;
}

/**HISTORY**/
.accordion
{
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: 50px;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover
{
    background-color: red;
}
.panel
{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/**SPORTS**/
.sports
{
    font: 20px Montserrat, sans-serif !important;
    background-color: white !important;
    list-style-type: square;
    list-style-position: inside;
}

/**IMAGES**/
.images
{
    border-radius: 8px;
}
/**SPORTS**/
body
{
    margin:25px;
}
div.polaroid
{
  width:650px;
  background-color: black;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.container
{
  /*text-align: center;*/
  color: white;
  padding: 10px 20px;
  background: rgba(0,0,0,.5);
  margin-top: 2em;
}

/**FaQs**/
.parallaxThree{
  height: 100vh;
  width: 100%;
  background-image:url(../images/faqBackground.jpg);
  background-size:cover;
  display:table;
  background-attachment: fixed;
}

.parallaxThree .row{
  margin-top:15em;
}

.parallaxThree .container{
  background: rgba(255,255,255,.5);
  color:#2d2f33;
  padding:0;
}

#accordion .ui-accordion-header{
  background: rgba(255,255,255,.8);

}
/**--**/
.para
{
    font-family: source code pro;
    font-size: 18px;
    font-style: normal;
    text-shadow: .5px .5px white;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: source code pro;
    font-size: 18px;
    font-style: normal;
}
th, td
{
    padding: 15px;
}

/**ART**/
.mySlides
{
    display:none;
}

/**FOOTER TEMPLATES**/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;

}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
